/*
main bg color: F8F8F8
main text color: black
primary font: DM Sans
*/
body {
  background-color: #F8F8F8;
  font-family: 'DM Sans', sans-serif;
}
nav {
    position: fixed;
    width: 96px;
    height: 100vh;
    left: 0px;
    top: 0px;
    float: left;
    background-color:  white;    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav li {
    margin: 0;
    padding: 0;
  }
  
  nav li a {
    display: block;
    padding: 30px;
    text-decoration: none;
  }

  nav li a img {
    width: 58px;
    height: 50px;
    margin-top: 4px;
  }

.content {
    margin-left: 96px; /* Set the same width as the side navigation */
    padding-left: 34px;
    margin-top: 35px; 
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}
