/*
main bg color: F8F8F8
main text color: black
primary font: DM Sans
*/
html{
    height: 100vh;
    background-color: #F8F8F8;    
}

body {
    background-color: #F8F8F8;
    height: 100vh;
    margin: 0;
}
nav {
    position: fixed;
    width: 96px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color:  white;    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
  
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav li {
    margin: 0;
    padding: 0;
  }
  
  nav li a {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
  }
  
  /* for the line di ko alam ano better way to do this T.T*/ 
  nav li:not(:first-child) a::before {
    content: '';
    position: absolute;
    width: 60px;
    height: .7px;
    background-color: black;
    left: 17px; 
    top: 15%;
    transform: translateY(-50%);
    opacity: 25%;
  }

  nav li a img {
    width: 64px;
    height: 56px;
    margin-top: 4px;
  }

.nav-button{
    opacity: 25%;
}

.nav-vid{
    width: 24px;
    height: 24px;
}

.nav-about{
    width: 18px;
    height: 18px;
}

.nav-active{
    opacity: 80%;
}  

.content {
    /*margin-left: 96px; /* Set the same width as the side navigation */       
    margin-top: 18px;
    padding-left: 136px;
    padding-right: 40px;
    height: 100vh;
    background-color: #F8F8F8;

}

.title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
}

.subtitle {
    font-family: 'DM Sans';  
    font-style: normal;
    font-weight: 400;
    font-size: 20px;  
    line-height: 26px;
    margin-bottom: 7px;
    margin-top: 7px;
}

.row{
    height: 100%;
}

.container-vid, .container-over{
    float: left;
}

.creator{
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    
}

.img-vid{
    margin-top: 19px;
    margin-bottom: 19px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.tally{
    margin: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 5px;
    font-family: 'Inter';
    font-weight: 600;
    height: 100%;
    width: 93%;
    border-radius: 20px;
    background-color: #EB5757;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the columns horizontally */
    align-items: center; /* Center the columns vertically */
}

.tally > div {
    flex: 0 0 50%;
    padding: 10px;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center; 
    font-size: 15px;
  }

.logs {
    max-height: 370px; /* Adjust the height as needed */
    overflow-y: auto;
}  
.container-log{
    height: 100%;
}

.log-column{
    height: 90%;
}

.button{
    pointer-events: none;
    border-radius: 6px;
    border: none;
    font-size: 10px;
    font-family: 'DM Sans';
    font-weight: 400;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 4px;
}

.button-com{
    background-color: #FFF5CC;
}

.button-des{
    background-color: #CCF8FE;
}

.button-web{
    background-color: #ecced1;
}

.creator-img{
    position: relative;
    border-radius: 8px;
    width: 146px;
    height: 174px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    flex-shrink: 0;
}

.creator-text {
    flex: 1 1 50%;
    justify-content: flex-end;
    flex-grow: 1;
}
.creators{
    margin-top: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}


p {    
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}

.bubble {
    background-color: white;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.bubble p {
    opacity: 40%;
}

.bubble-creator {
    display: flex;
    align-items: center;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 24px;
    margin-bottom: 10px;
    margin-right: 24px;
    padding-left: 12px;
}
