/*
main bg color: F8F8F8
main text color: black
primary font: DM Sans
*/
html{
    height: 100vh;
    background-color: #F8F8F8;    
}

body {
    background-color: #F8F8F8;
    height: 100vh;
    margin: 0;
}
nav {
    position: fixed;
    width: 96px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color:  white;    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
  
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav li {
    margin: 0;
    padding: 0;
  }
  
  nav li a {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
  }
  
  /* for the line di ko alam ano better way to do this T.T*/ 
  nav li:not(:first-child) a::before {
    content: '';
    position: absolute;
    width: 60px;
    height: .7px;
    background-color: black;
    left: 17px; 
    top: 15%;
    transform: translateY(-50%);
    opacity: 25%;
  }

  nav li a img {
    width: 64px;
    height: 56px;
    margin-top: 4px;
  }

.nav-button{
    opacity: 25%;
}

.nav-vid{
    width: 24px;
    height: 24px;
}

.nav-about{
    width: 18px;
    height: 18px;
}

.nav-active{
    opacity: 80%;
}  

.content {
    /*margin-left: 96px; /* Set the same width as the side navigation */
    margin-left: 96px;     
    margin-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100vh;
    background-color: #F8F8F8;

}

.title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
}

.subtitle {
    font-family: 'DM Sans';  
    font-style: normal;
    font-weight: 400;
    font-size: 20px;  
    line-height: 26px;
    margin-bottom: 7px;
    margin-top: 7px;
}

.row{
    height: 100%;
}

.container-vid, .container-over, .creator{
    float: left;
}

.img-vid{
    width: 90%;
}

.logs{
    overflow-y: auto;
    height: 90%;
}

.container-log{
    height: 100%;
}

.log-column{
    height: 90%;
}

.button{
    pointer-events: none;
    border-radius: 8px;
    border: none;
}

.button-com{
    background-color: #ffffce;
}

.button-des{
    background-color: #caf1ff;
}

.button-web{
    background-color: #c1e1c1;
}

.creator-img{
    border-radius: 8px;
    width: 130px;
    height: 160px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.creators{
    margin-top: 15px;
    margin-bottom: 15px;
}


p {    
    font-family: 'DM Sans', sans-serif;
}

.bubble {
    background-color: white;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-top: 24px;
}
.bubble p {
    opacity: 40%;
}