<!DOCTYPE html>
<html>

    <head>
        <title>MaskPatrol</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="../static/main.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">

    </head>
    <body>
        <nav>
            <ul>
                <li><a href="index.html">
                        <img src="../static/images/maskpatrol_logo.png" alt="Home">
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <img class="nav-button nav-vid {{ 'nav-active' if request.path == url_for('index') }}" src="../static/images/On.svg" alt="Video">
                    </a>
                </li>
                <li>
                    <a href="overview.html">
                        <img class="nav-button nav-about {{ 'nav-active' if request.path == url_for('about') }}" src="../static/images/Mark.svg" alt="About">
                    </a>
                </li>
            </ul>
        </nav>

        <div class="content">
                <div class="row">
                    <div class="container-over col-lg-8">
                        <div class="title mt-3">Project Overview</div>
                        <div class="bubble">
                            <div class="subtitle">MaskPatrol: Eye Spy the Masked</div>
                            <p>We aim to develop an accurate, real-time face mask detection system that can
                                effectively monitor and assess face mask usage in various settings. The combination
                                of data preprocessing, face distance detection, mask prediction model training,
                                real-time video feed detection, and web application deployment will enable us to
                                achieve our objectiveness in promoting public health and safety.</p>

                            <p>By leveraging this system, we aim to enhance the accuracy and effectiveness
                                of our face mask detection system by incorporating alarm notifications for
                                immediate intervention in cases of non-compliance with mask-wearing guidelines.</p>
                        </div>
                        <div class="bubble">
                            <div class="subtitle">Background</div>
                            <p>The Philippines' pandemic is not yet over as there are still sudden surges of
                                COVID-19 cases. However, the UP community is transitioning to a face-to-face (F2F)
                                setup. In times like these, safety protocols should be strictly enforced since
                                the virus spreads rapidly between people within close proximity. Some of these
                                protocols and guidelines are to regularly wear face masks and to practice social
                                distancing.</p>

                            <p>This project proposal aims to solve this relevant and timely problem, especially
                                for the UP community. Machine learning and computer vision will be used to develop
                                a model that will determine in real-time whether a person is wearing a face mask
                                correctly or incorrectly, and if social distancing is observed.
                            </p>

                            <p>The COVID-19 pandemic has reshaped the way people live their lives. New routines
                                and habits were adapted, including the habit of wearing face masks. Throughout
                                this era, it has become evident that the most dangerous aspect of COVID-19 is
                                its high contagiousness. According to the website of the World Health
                                Organization (WHO), the virus spreads through small liquid particles when an
                                infected person coughs, sneezes, speaks, or breathes. It can be inhaled at
                                short-range aerosol transmission or transmitted through direct contact with the
                                eyes, nose, or mouth.</p>

                            <p>Face masks play a vital role in reducing the transmission rates by minimizing
                                the number of infectious particles that may be inhaled or exhaled (WHO, 2022).
                                Ensuring and encouraging consistent face mask usage among Filipinos requires
                                consistent monitoring and effective enforcement. The challenge lies in
                                non-compliance and the lack of appropriate and efficient channels to monitor
                                face mask usage in large areas. </p>

                            <p>This project proposal aims to address these challenges by developing a face
                                mask detection camera system that will help monitor face mask usage in different
                                places. The system will utilize machine learning to detect if a person is wearing
                                a face mask and if they are wearing it properly. In addition to this, the system
                                will also be detecting and monitoring social distancing.  Such a system will
                                assist in identifying areas that might require enforcement.
                            </p>
                            <p>Data from the system can provide insights into face mask usage,
                            which can further used by the authorities in making informed decisions
                            on public health policies.</p>
                        </div>
                    </div>
                    <!-- for the logs -->
                    <div class="container-over col-lg-4">
                        <div class="title mt-3">Creators</div>

                        <div class="bubble-creator">
                            <div class="creator-text col-lg-8">
                                <button class="button button-com">Computer Vision</button>
                                <button class="button button-des">Designer</button>
                                <br>
                                <div class="subtitle">Princess Ventures</div>
                                <p><em>"My heart beats for art, while my mind is wired for technology"</em></p>
                            </div>
                            <div class="creator col-lg-4">
                                <img class="creator-img" src="../static/images/cess.jpg" alt="cess">
                            </div>
                        </div>

                        <div class="bubble-creator">
                            <div class="creator-text col-lg-8">
                                <button class="button button-com">Computer Vision</button>
                                <button class="button button-des">Designer</button>
                                <br>
                                <div class="subtitle">Allaine Tan</div>
                                <p>"&lt;Quote&gt;"</p>
                            </div>
                            <div class="creator col-lg-4">
                                <img class="creator-img" src="../static/images/allaine.jpg" alt="allaine">
                            </div>
                        </div>

                        <div class="bubble-creator">
                            <div class="creator-text col-lg-8">
                                <button class="button button-web">Web Developer</button>
                                <br>
                                <div class="subtitle">Mielle Calderon</div>
                                <p><em>"To the stars who listen — and the dreams that are answered"</em></p>
                            </div>
                            <div class="creator col-lg-4">
                                <img class="creator-img" src="../static/images/mielle.jpg" alt="mielle">
                            </div>
                        </div>
                        
                        <div class="bubble-creator">
                            <div class="creator-text col-lg-8">
                                <button class="button button-web">Web Developer</button>
                                <br>
                                <div class="subtitle">France Calma</div>
                                <p>"&lt;Quote&gt;"</p>
                            </div>
                            <div class="creator col-lg-4">
                                <img class="creator-img" src="../static/images/france.jpg" alt="france">
                            </div>
                        </div>
                        
                    </div>
                </div>
            
        </div>

</body>
</html>