{% extends 'base.html' %}

{% block main %}
        <div class="content">                 
            <div class="row">

                <!-- for the video stream -->
                <div class="container-vid vid col-lg-8">
                    <div class="title mt-3">Live Stream Video Feed</div>
                    <div class="bubble">
                        <img class="img-vid" src="{{ url_for('video_feed') }}">
                    </div>
                </div>

                <!-- for the logs -->
                <div class="log-column container-vid col-lg-4">
                    <div class="container-hist">
                        <div class="title mt-3">Overview of Today's Logs</div>
                        <div class="bubble">
                            <div class="logs" id="hist"></div> <!--idk pa kung paano nalagay code-->
                        </div>
                    </div>
                    <div class="container-log">
                        <div class="title mt-3">History Logs</div>
                        <div class="bubble">
                            <div class="logs" id="logs"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>
    var source = new EventSource("{{ url_for('logs') }}");
    source.onmessage = function(event) {
        document.getElementById("logs").innerHTML += event.data + "<br>";
    }
</script>

{% endblock %}